{% extends "layout.html" %}
{% block body %}
<p style="margin-bottom: 20px;"><em>Just select what you want and click generate filter to generate the filter based on your preferences, easy as that!<br />
I didn't build in any failsafes yet, so if you do stuff like the map tiers wrong it will probably just give you an error</em></p>
<form method="POST" action="{{ url_for('generate_filter') }}">
    <div class="row">
        <div class="col-lg-6">
            <span>Economy(only supports HC temp league for now)</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker" name="economy">
                <option disabled="disabled" value="tmpsc">Softcore Temp League</option>
                <option selected="selected" value="tmphc">Hardcore Temp League</option>
                <option disabled="disabled" value="sc">Standard</option>
                <option disabled="disabled" value="hc">Hardcore</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Portal Scrolls</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="portal_scrolls">
                <option value="2">I always pickup portal scrolls</option>
                <option selected="selected" value="1">I pick up portals when I walk over them</option>
                <option value="0">I don't care about portal scrolls/I have a portal gem</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Wisdom Scrolls</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="wisdom_scrolls">
                <option value="2">I always pickup wisdom scrolls</option>
                <option selected="selected" value="1">I pick up wisdoms when I walk over them</option>
                <option value="0">I don't care about wisdom scrolls</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Chromatic Recipe</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="chromatic_recipe">
                <option selected="selected" value="2">Show all chromatic items(big sizes will be smaller in filter)</option>
                <option value="1">Only show small chromatic items</option>
                <option value="0">Don't show chromatic items</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Flasks(after lvl 68)</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="flasks">
                <option selected="selected" value="2">Show all flasks</option>
                <option value="1">Only show quality flasks</option>
                <option value="0">Don't show flasks</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Gems</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="gems">
                <option selected="selected" value="2">Show all gems</option>
                <option value="1">Only show quality and special(vaal/empower/portal etc.) gems</option>
                <option value="0">Don't show gems</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Non-Atlas Jewellery(68+)</span>
        </div>
        <div class="col-lg-6">
            <select class="selectpicker form-control" name="jewellery">
                <option selected="selected" value="2">Show all jewellery</option>
                <option value="1">Only show magic jewellery</option>
                <option value="0">Don't show jewellery that's not rare</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Map Tiers</span>
            <p><em>You can use this section to make certain maps show as if they're a higher tier(if you really like Strands for example, you might want to show them as a few tiers higher)<br />
            Separate maps by newlines and use the full map name; in this example Strand Map becomes +4 tiers and dungeon -1:<br />
            Strand Map,4<br />
            Dungeon Map,-1</em></p>
        </div>
        <div class="col-lg-6">
            <textarea name="map_tiers" class="form-control" rows="8">Strand Map,4
Promenade Map,2
Quay Map,1
Mesa Map,1</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span>Animate Weapon</span>
        </div>
        <div class="col-lg-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="animate_weapon"> I play Animate Weapon
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-6">
            <button type="submit" class="btn btn-lg btn-default">Generate Filter</button>
        </div>
    </div>
</form>
<h2>Patch Notes</h2>
<p>
    <ul>
        <li>0.0.1b: Initial release, expect a lot of bugs</li>
    </ul>
</p>
{% endblock %}
